*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color: #000;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    background-color: #fff;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0s;
}
#cursor-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    transition: all 0s linear;
}
#cursor-img img{
    opacity: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.2s ease-in-out;
    transition: all linear 0.4s;
    position: absolute;
    top: 0;
    left: 0;
}
#cursor-img img:first-child{
    opacity: 1;
}
#home{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    /* border: 2px solid red; */
}
#nav{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    width: 100px;
}
#nav #right{
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav i{
    margin-top: 3px;
    font-size: 20px;
}
#nav a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 1.4vw;
    letter-spacing: -1;
}
#home #homemain{
    width: 100%;
    padding: 15vw 15vw;
}
#homemain h1{
    font-weight: 400;
    font-size: 1.5vw;
}
.heading{
    display: flex;
    gap: 40px;
}
#homemain .heading h1{
    color: transparent;
    -webkit-text-stroke: 0.7px black;
    font-size: 7vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -1px;
}
#homemain .heading h1:hover{
    color: #000;
}
#homelast{
    padding:5vw 15vw;
}
#homelast p{
    font-size: 1.5vw;
    font-weight: 500;
    width: 70%;
}
#homelast p::selection{
    color: #fff;
    background-color: #000;
}
#featured{
    
    padding: 10vw 15vw;
}
.fheading>h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}
.fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke:1px #000 ;
}

#fimages{
    display: flex;
    width: 100%;
    height: 100vh;
     justify-content: space-between;
    margin-top: 5vw;
    /* border: 2px solid red; */
}
#fleft{
    overflow: auto;
    width: 45%;
    height: inherit;
    border: 1px solid blue;
}
.fleftelm{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fleftelm h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 2vw 0;
}
.fleftelm h3{
    font-size: 1.3vw;
    font-weight: 400;
}
.fleftelm h4{
    opacity: .5;
}
#fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
  
}

#fright .images{
    width: 90%;
    height: 80%;
    background-color: red;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.btndiv button{
    padding: 1vw 2.5vw;
    border-radius: 100px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 500;
}

#dev{
    width: 100%;
    padding: 5vw 15vw;
}
#dev h1{
    font-size: 4vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
    text-transform: capitalize;
}
#dev p{
    font-size: 1.5vw;
    margin-top: 3vw;
    width: 60%;

}
#slides{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}
.slide {
    width: 30%;
     
}
.slide .img{
    width: 100%;
    height: 170px;
    background-color: greenyellow;
    overflow: hidden;
    border-radius: 10px;
}
.slide .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide .tag{
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: #f7f7f7;
    margin: 20px 0;
}

.slide h3{
    font-size: 1.4vw;
    font-weight: 400;

}